@import '~vuetify/dist/vuetify.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import './scss/spacing-extension.scss';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Cinzel:700');

.application.theme--light {
  background: #efefef;
}

.logo {
  width: 175px;
  padding-top: 35px;
}

.v-carousel .v-jumbotron__background {
  background: rgba(0, 0, 0, 0.3);
}