.grad-cool-blues {
  background: #2193b0;
  background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);
  background: linear-gradient(to left, #6dd5ed, #2193b0);
}

.grad-azure-pop {
  background: #ef32d9;
  background: -webkit-linear-gradient(to left, #89fffd, #ef32d9);
  background: linear-gradient(to left, #89fffd, #ef32d9);

}

.grad-lawrencium {
  background: #0f0c29;
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}

.grad-expresso {
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
}